#*#
.*/
include/res/*.rc
include/res/*.bat
*.a
*.aps
*.bak
*.bi
*.bsc
*.cache
*.cdf
*.dep
*.exe
*.exp
*.htm
*.idb
*.ilk
*.iobj
*.ipch
*.ipdb
*.lib
*.manifest
*.map
*.meta
*.metagen
*.ncb
*.o
*.obj
*.obj.enc
*.pch
*.pdb
*.pgc
*.pgd
*.rep
*.res
*.resources
*.rsp
*.sbr
*.so
*.so.[0-9]*
*.suo
*.tlb
*.tlh
*.tli
*.tlog
*.tmp
*.user
*.xdc
*[^B][^a][^k].xml
*_Debug
*_gui.h
*_manifest.rc
*_Release
*_resource.h
*~
.#*
.vs
.vs/
.vscode/
Backup/
Backup1/
bin
build_temp
BuildLog.htm
*.log
*_i.c
*_p.c
dlldata.c
*.gmx
*.csv
*.txt
*.db
*.lnk
GPUCache